html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'Patrick Hand', cursive;
    font-family: 'Roboto', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #ffffff;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a, a:hover, a:focus {
	text-decoration: none;
	outline: 0px;
}
strong {
	font-weight: 900 !important;
}

section.section {
	float: left;
	width: 100%;
	display: block;
	overflow: hidden;
	padding: 60px 0;
	box-sizing: border-box;
	background-color: #ffffff;
}
.section-title-area {
	float: left;
	width: 100%;
	height: auto;
	display: block;
	overflow: hidden;
	margin-bottom: 10px;
}
.section-title-area .section-subtitle {
	float: left;
	width: 100%;
	display: block;
	color: #50b381;
	font-family: 'Patrick Hand', cursive;
	font-size: 17px;
	font-weight: 400;
	line-height: 1.5;
}
.section-title-area .section-title {
	float: left;
	width: 100%;
	display: block;
	color: #727272;
	font-family: 'Patrick Hand', cursive;
	font-size: 28px;
	font-weight: 700;
	line-height: 1.5;
}



/** Header Box **/
section.header-section {
	padding: 0px !important;
	background-color: #e1fcff;
}
.header-logo {
	float: left;
	width: 100%;
	height: auto;
	display: block;
	margin-top: 20px;
}
.header-logo img {
	float: right;
	width: auto;
	max-width: 100%;
	height: auto;
	max-height: 80px;
	display: block;
	overflow: hidden;
}

.header-hotlines {
	float: left;
	padding-left: 0px;
	padding-bottom: 100px;
	box-sizing: border-box;
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	overflow: hidden;
	background-size: cover;
	background-repeat: no-repeat;
	background-origin: border-box;
	background-position: bottom;
	min-height: 250px;
}
.header-hotlines .single-hotline {
	float: left;
	width: auto;
	max-width: 160px;
	height: auto;
	display: block;
	overflow: hidden;
	text-align: center;
	padding: 15px 10px;
	box-sizing: border-box;
}
.header-hotlines .hotline-title {
	float: left;
	width: 100%;
	display: block;
	color: #ffffff;
	font-family: 'Patrick Hand', cursive;
	font-size: 13px;
	font-weight: 400;
	line-height: 1.5;
}
.header-hotlines .hotline-subtitle {
	float: left;
	width: 100%;
	display: block;
	color: #5b9166;
	font-family: 'Patrick Hand', cursive;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.5;
}
.header-hotlines .hotline-number {
	float: left;
	width: 100%;
	display: block;
	color: #5b666a;
	font-family: 'Patrick Hand', cursive;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.5;
}
/** Header Box **/



/** Service Box **/
section.service-section {
	background-color: #e1fcff;
	padding-top: 0px !important;
	margin-top: -80px !important;
}
.signle-service-box {
	margin: 30px auto;
	width: 100%;
	height: auto;
	max-width: 400px;
	min-height: 150px;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0px;
	box-sizing: border-box;
	box-shadow: 3px 6px 15px rgba(0, 0, 0, 0.16);
	border-radius: 32px;
	background-color: #ffffff;
	overflow: hidden;
}
.signle-service-box .service-icon-area {
	float: left;
	width: 90px;
	height: 150px;
	background-color: #4fe88f;
	border-radius: 0px 60% 60% 0px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.signle-service-box .service-icon-area img {
	margin: 0 auto;
	width: auto;
	height: auto;
	max-width: 50px;
	max-height: 50px;
	display: block;
	overflow: hidden;
}
.signle-service-box .service-text-area {
	float: left;
	width: calc(100% - 90px);
	height: 100%;
	display: block;
	padding: 15px;
	box-sizing: border-box;
}
.signle-service-box .service-title {
	float: left;
	width: 100%;
	display: block;
	color: #848484;
	font-family: 'Patrick Hand', cursive;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	margin-bottom: 3px;
}
.signle-service-box .service-subtitle {
	float: left;
	width: 100%;
	display: block;
	color: #5b9166;
	font-family: 'Patrick Hand', cursive;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	margin-bottom: 10px;
}
.signle-service-box .service-details {
	float: left;
	width: 100%;
	display: block;
	color: #707070;
	font-family: 'Patrick Hand', cursive;
	font-size: 12px;
	font-weight: 300;
	line-height: 1.5;
}
/** Service Box **/



/** Graph Box **/
.signle-graph-box {
	margin: 30px auto;
	width: 100%;
	height: auto;
	max-width: 100%;
	min-height: 250px;
	display: block;
	padding: 10px;
	box-sizing: border-box;
	box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.16);
	border-radius: 22px;
	background-color: #f2f2f2;
	overflow: hidden;
}
.signle-graph-box .single-graph-header {
	float: left;
	width: 100%;
	height: auto;
	display: block;
	padding: 5px 0px 10px 0px;
	box-sizing: border-box;
	border-bottom: 1px solid #707070;
}
.signle-graph-box .single-graph-header .graph-title {
	float: left;
	width: 100%;
	display: block;
	color: #727272;
	font-family: 'Patrick Hand', cursive;
	font-size: 17px;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
}
.signle-graph-box .single-graph-body {
	float: left;
	width: 100%;
	height: auto;
	display: block;
	padding: 0px;
	box-sizing: border-box;
}
/** Graph Box **/



/** Footer Box **/
.footer-section {
	padding-top: 100px !important;
	padding-bottom: 0px !important;
	background-size: cover;
	background-repeat: no-repeat;
	background-origin: border-box;
	background-position: top;
	min-height: 290px;
}
.single-footer {
	float: left;
	width: 100%;
	height: 100%;
	padding: 15px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
}
.single-footer ul.footer-nav {
	float: left;
	margin-top: 20px;
	list-style-type: none;
}
.single-footer .footer-nav li {
	float: left;
	display: block;
	width: 100%;
	list-style-type: square !important;
}
.single-footer .footer-nav li a {
	float: left;
	text-align: left;
	width: 100%;
	display: block;
	color: #ffffff;
	font-family: 'Patrick Hand', cursive;
	font-size: 15px;
	font-weight: 400;
	line-height: 1.5;
	padding: 4px 0px;
	box-sizing: border-box;
}
.single-footer .footer-nav li a span {
	float: left;
	display: inline;
	padding-right: 5px;
	box-sizing: border-box;
}
.single-footer .footer-promo {
	float: left;
	width: 100%;
	display: block;
	overflow: hidden;
}
.footer-promo img {
	margin: 0 auto;
	display: block;
	overflow: hidden;
	width: 100%;
	height: auto;
}
/** Footer Box **/



/** Post Page **/
.post-area {
	float: left;
	width: 100%;
	height: auto;
	display: block;
	overflow: hidden;
}
.post-title {
	float: left;
	width: 100%;
	display: block;
	color: #5b666a;
	font-family: 'Patrick Hand', cursive;
	font-size: 40px;
	font-weight: 400;
	letter-spacing: 4px;
	line-height: 1.2;
	text-transform: uppercase;
	margin-bottom: 35px;
}
.post-content,
.post-content p {
	float: left;
	overflow: hidden;
	color: #5b9166;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
}
.post-content {
	width: 100%;
	display: block;
}
.post-content p {
	margin-bottom: 20px;
}
.post-content img.post-thumb {
	float: right;
	width: 50%;
	max-width: 500px;
	display: block;
	overflow: hidden;
	padding-left: 15px;
	padding-bottom: 15px;
	box-sizing: border-box;
}

.post-content h3 {
	float: left;
	width: 100%;
	display: block;
	color: #5b666a;
	font-family: 'Patrick Hand', cursive;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 2px;
	line-height: 1.4;
	margin-bottom: 20px;
	margin-top: 10px;
}
.post-content table {
	float: left;
	width: 100%;
	margin-bottom: 40px;
	background: transparent;
	border-collapse: separate; 
    border-spacing:0 15px; 
}
.post-content table tr {
	height: 30px;
}
.post-content table tr th {
	color: #5a5a5a;
	font-family: 'Patrick Hand', cursive;
	font-size: 17px;
	font-weight: 400;
	line-height: 1.4;
	text-align: center;
	padding: 0px 10px;
	box-sizing: border-box;
}
.post-content table tr td {
	color: rgba(90, 90, 90, 0.6);
	font-family: 'Patrick Hand', cursive;
	font-size: 17px;
	font-weight: 400;
	line-height: 1.4;
	text-align: center;
	background-color: rgba(129, 240, 175, 0.4);
	padding: 4px 10px;
	box-sizing: border-box;
	border-left: 1px dotted rgba(90, 90, 90, 0.3);
}
.post-content table tr td:first-child {
	border-left: none;
	color: rgba(90, 90, 90, 1);
}
.post-content ul {
	float: left;
	width: 100%;
	display: block;
	margin-bottom: 30px;
	overflow: hidden;
	display: block;
	padding: 0px;
}
.post-content ul li {
	float: left;
	width: 100%;
	display: block;
	color: #5b666a;
	font-family: 'Patrick Hand', cursive;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 1.5px;
	line-height: 1.4;
	padding: 5px 0px 5px 20px;
	box-sizing: border-box;
}
.post-content ul li span {
	float: left;
	padding-right: 8px;
	font-size: 18px;
	color: #ff7171;
	text-align: left;
	box-sizing: border-box;
}
.post-content ul li::before {
	font-family: "Font Awesome 5 Free";
	font-weight: 400;
	content: "\f0a4";
	color: #ff7171;
	left: 0;
	padding-right: 10px;
}
/** Post Page **/