html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'Patrick Hand', cursive;
    font-family: 'Roboto', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #ffffff;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a, a:hover, a:focus {
	text-decoration: none;
	outline: 0px;
}
strong {
	font-weight: 900 !important;
}

section.section {
	float: left;
	width: 100%;
	display: block;
	overflow: hidden;
	padding: 60px 0;
	box-sizing: border-box;
	background-color: #ffffff;
}


/** Service Box **/
.service-section {
	background-color: #e1fcff;
}
.signle-service-box {
	margin: 30px auto;
	width: 100%;
	height: auto;
	max-width: 400px;
	min-height: 150px;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0px;
	box-sizing: border-box;
	box-shadow: 3px 6px 15px rgba(0, 0, 0, 0.16);
	border-radius: 32px;
	background-color: #ffffff;
	overflow: hidden;
}
.signle-service-box .service-icon-area {
	float: left;
	width: 90px;
	height: 150px;
	background-color: #4fe88f;
	border-radius: 0px 60% 60% 0px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.signle-service-box .service-icon-area img {
	margin: 0 auto;
	width: auto;
	height: auto;
	max-width: 50px;
	max-height: 50px;
	display: block;
	overflow: hidden;
}
.signle-service-box .service-text-area {
	float: left;
	width: calc(100% - 90px);
	height: 100%;
	display: block;
	padding: 15px;
	box-sizing: border-box;
}
.signle-service-box .service-title {
	float: left;
	width: 100%;
	display: block;
	color: #848484;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	margin-bottom: 3px;
}
.signle-service-box .service-subtitle {
	float: left;
	width: 100%;
	display: block;
	color: #5b9166;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	margin-bottom: 10px;
}
.signle-service-box .service-details {
	float: left;
	width: 100%;
	display: block;
	color: #707070;
	font-family: Roboto;
	font-size: 12px;
	font-weight: 300;
	line-height: 1.5;
}
/** Service Box **/



/** Graph Box **/
.signle-graph-box {
	margin: 30px auto;
	width: 100%;
	height: auto;
	max-width: 400px;
	min-height: 250px;
	overflow: hidden;
	display: block;
	padding: 10px;
	box-sizing: border-box;
	box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.16);
	border-radius: 22px;
	background-color: #f2f2f2;
	overflow: hidden;
}
.signle-graph-box .service-graph-header {
	float: left;
	width: 100%;
	height: auto;
	display: block;
	padding: 5px 0px 10px 0px;
	box-sizing: border-box;
	border-bottom: 1px solid #707070;
}
.signle-graph-box .service-graph-header .graph-title {
	float: left;
	width: 100%;
	display: block;
	color: #727272;
	font-family: Roboto;
	font-size: 17px;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
}
.signle-graph-box .service-graph-body {
	float: left;
	width: 100%;
	height: auto;
	display: block;
	padding: 0px;
	box-sizing: border-box;
}
/** Graph Box **/