html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'Patrick Hand', cursive;
    font-family: 'Roboto', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #ffffff;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a, a:hover, a:focus {
	text-decoration: none;
	outline: 0px;
}
strong {
	font-weight: 900 !important;
}

section.section {
	float: left;
	width: 100%;
	display: block;
	overflow: hidden;
	padding: 60px 0;
	box-sizing: border-box;
	background-color: #ffffff;
}
.section-title-area {
	float: left;
	width: 100%;
	height: auto;
	display: block;
	overflow: hidden;
	margin-bottom: 10px;
}
.section-title-area .section-subtitle {
	float: left;
	width: 100%;
	display: block;
	color: #50b381;
	font-family: 'Patrick Hand', cursive;
	font-size: 17px;
	font-weight: 400;
	line-height: 1.5;
}
.section-title-area .section-title {
	float: left;
	width: 100%;
	display: block;
	color: #727272;
	font-family: 'Patrick Hand', cursive;
	font-size: 28px;
	font-weight: 700;
	line-height: 1.5;
}



/** Header Box **/
section.header-section {
	padding: 0px !important;
	background-color: #e1fcff;
}
.header-logo {
	float: left;
	width: 100%;
	height: auto;
	display: block;
	margin-top: 20px;
}
.header-logo img {
	float: right;
	width: auto;
	max-width: 100%;
	height: auto;
	max-height: 80px;
	display: block;
	overflow: hidden;
}

.header-hotlines {
	float: left;
	padding-left: 0px;
	padding-bottom: 100px;
	box-sizing: border-box;
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	overflow: hidden;
	background-size: cover;
	background-repeat: no-repeat;
	background-origin: border-box;
	background-position: bottom;
	min-height: 250px;
}
.header-hotlines .single-hotline {
	float: left;
	width: auto;
	max-width: 160px;
	height: auto;
	display: block;
	overflow: hidden;
	text-align: center;
	padding: 15px 10px;
	box-sizing: border-box;
}
.header-hotlines .hotline-title {
	float: left;
	width: 100%;
	display: block;
	color: #ffffff;
	font-family: 'Patrick Hand', cursive;
	font-size: 13px;
	font-weight: 400;
	line-height: 1.5;
}
.header-hotlines .hotline-subtitle {
	float: left;
	width: 100%;
	display: block;
	color: #5b9166;
	font-family: 'Patrick Hand', cursive;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.5;
}
.header-hotlines .hotline-number {
	float: left;
	width: 100%;
	display: block;
	color: #5b666a;
	font-family: 'Patrick Hand', cursive;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.5;
}
/** Header Box **/



/** Service Box **/
section.service-section {
	background-color: #e1fcff;
	padding-top: 0px !important;
	margin-top: -80px !important;
}
.signle-service-box {
	margin: 30px auto;
	width: 100%;
	height: auto;
	max-width: 400px;
	min-height: 150px;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0px;
	box-sizing: border-box;
	box-shadow: 3px 6px 15px rgba(0, 0, 0, 0.16);
	border-radius: 32px;
	background-color: #ffffff;
	overflow: hidden;
}
.signle-service-box .service-icon-area {
	float: left;
	width: 90px;
	height: 150px;
	background-color: #4fe88f;
	border-radius: 0px 60% 60% 0px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.signle-service-box .service-icon-area img {
	margin: 0 auto;
	width: auto;
	height: auto;
	max-width: 50px;
	max-height: 50px;
	display: block;
	overflow: hidden;
}
.signle-service-box .service-text-area {
	float: left;
	width: calc(100% - 90px);
	height: 100%;
	display: block;
	padding: 15px;
	box-sizing: border-box;
}
.signle-service-box .service-title {
	float: left;
	width: 100%;
	display: block;
	color: #848484;
	font-family: 'Patrick Hand', cursive;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	margin-bottom: 3px;
}
.signle-service-box .service-subtitle {
	float: left;
	width: 100%;
	display: block;
	color: #5b9166;
	font-family: 'Patrick Hand', cursive;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	margin-bottom: 10px;
}
.signle-service-box .service-details {
	float: left;
	width: 100%;
	display: block;
	color: #707070;
	font-family: 'Patrick Hand', cursive;
	font-size: 12px;
	font-weight: 300;
	line-height: 1.5;
}
/** Service Box **/



/** Graph Box **/
.signle-graph-box {
	margin: 30px auto;
	width: 100%;
	height: auto;
	max-width: 100%;
	min-height: 250px;
	display: block;
	padding: 10px;
	box-sizing: border-box;
	box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.16);
	border-radius: 22px;
	background-color: #f2f2f2;
	overflow: hidden;
}
.signle-graph-box .single-graph-header {
	float: left;
	width: 100%;
	height: auto;
	display: block;
	padding: 5px 0px 10px 0px;
	box-sizing: border-box;
	border-bottom: 1px solid #707070;
}
.signle-graph-box .single-graph-header .graph-title {
	float: left;
	width: 100%;
	display: block;
	color: #727272;
	font-family: 'Patrick Hand', cursive;
	font-size: 17px;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
}
.signle-graph-box .single-graph-body {
	float: left;
	width: 100%;
	height: auto;
	display: block;
	padding: 0px;
	box-sizing: border-box;
}
/** Graph Box **/



/** Footer Box **/
.footer-section {
	padding-top: 100px !important;
	padding-bottom: 0px !important;
	background-size: cover;
	background-repeat: no-repeat;
	background-origin: border-box;
	background-position: top;
	min-height: 290px;
}
.single-footer {
	float: left;
	width: 100%;
	height: 100%;
	padding: 15px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
}
.single-footer ul.footer-nav {
	float: left;
	margin-top: 20px;
	list-style-type: none;
}
.single-footer .footer-nav li {
	float: left;
	display: block;
	width: 100%;
	list-style-type: square !important;
}
.single-footer .footer-nav li a {
	float: left;
	text-align: left;
	width: 100%;
	display: block;
	color: #ffffff;
	font-family: 'Patrick Hand', cursive;
	font-size: 15px;
	font-weight: 400;
	line-height: 1.5;
	padding: 4px 0px;
	box-sizing: border-box;
}
.single-footer .footer-nav li a span {
	float: left;
	display: inline;
	padding-right: 5px;
	box-sizing: border-box;
}
.single-footer .footer-promo {
	float: left;
	width: 100%;
	display: block;
	overflow: hidden;
}
.footer-promo img {
	margin: 0 auto;
	display: block;
	overflow: hidden;
	width: 100%;
	height: auto;
}
/** Footer Box **/



/** Post Page **/
.post-area {
	float: left;
	width: 100%;
	height: auto;
	display: block;
	overflow: hidden;
}
.post-title {
	float: left;
	width: 100%;
	display: block;
	color: #5b666a;
	font-family: 'Patrick Hand', cursive;
	font-size: 40px;
	font-weight: 400;
	letter-spacing: 4px;
	line-height: 1.2;
	text-transform: uppercase;
	margin-bottom: 35px;
}
.post-subtitle {
	margin-top: -20px;
	margin-bottom: 30px;
	float: left;
	overflow: hidden;
	color: #5b9166;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
}
.post-content,
.post-content p {
	float: left;
	overflow: hidden;
	color: #5b9166;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
}
.post-content {
	width: 100%;
	display: block;
}
.post-content p {
	margin-bottom: 20px;
}
.post-content img.post-thumb {
	float: right;
	width: 50%;
	max-width: 500px;
	display: block;
	overflow: hidden;
	padding-left: 15px;
	padding-bottom: 15px;
	box-sizing: border-box;
}

.post-content h3 {
	float: left;
	width: 100%;
	display: block;
	color: #5b666a;
	font-family: 'Patrick Hand', cursive;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 2px;
	line-height: 1.4;
	margin-bottom: 20px;
	margin-top: 10px;
}
.post-content table {
	float: left;
	width: 100%;
	margin-bottom: 40px;
	background: transparent;
	border-collapse: separate; 
    border-spacing:0 15px; 
}
.post-content table tr {
	height: 30px;
}
.post-content table tr th {
	color: #5a5a5a;
	font-family: 'Patrick Hand', cursive;
	font-size: 17px;
	font-weight: 400;
	line-height: 1.4;
	text-align: center;
	padding: 0px 10px;
	box-sizing: border-box;
}
.post-content table tr td {
	color: rgba(90, 90, 90, 0.6);
	font-family: 'Patrick Hand', cursive;
	font-size: 17px;
	font-weight: 400;
	line-height: 1.4;
	text-align: center;
	background-color: rgba(129, 240, 175, 0.4);
	padding: 4px 10px;
	box-sizing: border-box;
	border-left: 1px dotted rgba(90, 90, 90, 0.3);
}
.post-content table tr td:first-child {
	border-left: none;
	color: rgba(90, 90, 90, 1);
}
.post-content ul {
	float: left;
	width: 100%;
	display: block;
	margin-bottom: 30px;
	overflow: hidden;
	display: block;
	padding: 0px;
}
.post-content ul li {
	float: left;
	width: 100%;
	display: block;
	color: #5b666a;
	font-family: 'Patrick Hand', cursive;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 1.5px;
	line-height: 1.4;
	padding: 5px 0px 5px 20px;
	box-sizing: border-box;
}
.post-content ul li span {
	float: left;
	padding-right: 8px;
	font-size: 18px;
	color: #ff7171;
	text-align: left;
	box-sizing: border-box;
}
.post-content ul li::before {
	font-family: "Font Awesome 5 Free";
	font-weight: 400;
	content: "\f0a4";
	color: #ff7171;
	left: 0;
	padding-right: 10px;
}
/** Post Page **/



/** Form Wizard **/
.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard .stepwizard-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.stepwizard .stepwizard-row::before {
	top: 25px;
	bottom: auto;
	position: absolute;
	content: " ";
	width: 100%;
	height: 1px;
	background-color: #5b666a;
	z-index: 0;
	opacity: 0.5;
}
.stepwizard .stepwizard-step {
	float: left;
	width: auto;
	max-width: 100%;
	min-width: 200px;
    text-align: center;
    position: relative;
}
.stepwizard .stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard .stepwizard-step .wizard-btn-title {
    float: left;
	width: 100%;
	display: block;
	color: #727272;
	font-family: 'Patrick Hand', cursive;
	font-size: 17px;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
}
.stepwizard-step .btn-circle {
	width: 50px;
	height: 50px;
	text-align: center;
	padding: 0px;
	font-size: 24px;
	line-height: 50px;
	border-radius: 50%;
	background: #ff6065;
	border-color: #ff6065;
	color: #fff;
}
.stepwizard-step .btn-circle:focus {
	box-shadow: none;
	outline: 0px;
}
.stepwizard-step .btn-circle.active {
	background:  #4fe88f;
	border-color: #4fe88f;
}


/* Form Elements */
.setup-content {
	margin: auto;
	width: 100%;
	height: auto;
	background: #fff;
	padding: 15px;
	box-sizing: border-box;
	margin-top: 10px;
}
.setup-content .wizard-section-title {
	float: left;
	width: 100%;
	height: auto;
	display: block;
	color: #727272;
	font-family: 'Patrick Hand', cursive;
	font-size: 24px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	line-height: 1.2;
	text-align: left;
	margin-bottom: 20px;
}
.setup-content .wizard-section-subtitle {
	margin-bottom: 20px;
}
.setup-content .form-row {
	padding: 20px 0px;
	box-sizing: border-box;
}
.setup-content .form-row > div {
	margin-top: 30px;
}
.setup-content .form-row .form-element {
	margin-bottom: 30px;
}
.setup-content .form-row .form-group {
	padding-top: 20px;
}
.setup-content .form-row label {
	float: left;
	width: 100%;
	display: block;
	color: #707070;
	font-family: 'Patrick Hand', cursive;
	font-size: 16px;
	font-weight: 300;
	font-style: normal;
	letter-spacing: 1.3px;
	line-height: 1.2;
	text-align: left;
	padding-bottom: 6px;
}
.setup-content .form-row label span {
	color: #ff6065;
	padding-left: 2px;
}
.setup-content .form-row .error-text {
	float: left;
	text-align: left;
	width: 100%;
	display: block;
	color: #ff7171;
	font-family: 'Patrick Hand', cursive;
	font-size: 15px;
	font-weight: 400;
	line-height: 1.5;
	padding: 4px 0px;
	box-sizing: border-box;
}
.setup-content .form-row .form-control, 
.setup-content .form-row .custom-select {
	padding: .375rem .75rem;
	font-size: 1rem;
	color: #707070;
	background-color: transparent;
	border: 0px solid transparent;
	border-radius: 0px;
	border-bottom: 2px solid #707070;
}
.setup-content .form-row .form-control:focus, 
.setup-content .form-row .custom-select:focus {
	border-color: #4fe88f;
}
.setup-content .form-row .form-control:hover, 
.setup-content .form-row .custom-select:hover, 
.setup-content .form-row .form-control:focus, 
.setup-content .form-row .custom-select:focus {
	box-shadow: none;
	outline: 0px;
}
.setup-content .form-row .form-control.has-error, 
.setup-content .form-row .custom-select.has-error {
	border-color: #ff7171;
}
.setup-content .form-row .custom-control {
	float: left;
	padding-left: 50px;
	margin-top: 10px;
	margin-right: 18px;
}
.setup-content .form-row .custom-control-label::before {
	top: -2px;
	left: -35px;
	width: 1.5rem;
	height: 1.5rem;
	background-color: transparent;
	border: #707070 solid 2px;
	box-sizing: border-box;
} 
.setup-content .form-row .form-inline.has-error .custom-control-label::before {
	border-color: #ff7171;
}
.setup-content .custom-control-label::after {
	top: -2px;
	left: -35px;
	width: 1.5rem;
	height: 1.5rem;
}
.setup-content .custom-control-input:checked ~ .custom-control-label::before {
	color: #fff;
	border-color: #4fe88f;
	background-color: #4fe88f;
}


/* Switch Single Form */
.single-check-form {
	float: left;
	width: 100%;
	height: auto;
	display: block;
	clear: both;
	max-width: 400px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.single-check-form .check-content {
	float: left;
	width: calc(100% - 110px);
	height: auto;
	display: inline;
	overflow: hidden;
}
.single-check-form .check-content .single-check-title {
	float: left;
	width: 100%;
	display: block;
	color: #848484;
	font-family: 'Patrick Hand', cursive;
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 1.6px;
	line-height: 5px;
	text-align: left;
	line-height: 1.4;
	padding-bottom: 6px;
}
.single-check-form .check-content .single-check-subtitle {
	float: left;
	width: 100%;
	display: block;
	color: #5b9166;
	font-family: 'Patrick Hand', cursive;
	font-size: 12px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 1.2px;
	line-height: 5px;
	text-align: left;
	line-height: 1.4;
}
.single-check-form .check-btn {
	float: left;
	width: 110px;
	height: auto;
	display: inline;
	overflow: hidden;
	text-align: center;
}


/* Switch Normal */
.setup-content .check-switch input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}
.setup-content .check-switch label {
  cursor: pointer;
  text-indent: -9999px;
  width: 100px;
  height: 40px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
  background: #ff6065;
}
.setup-content .check-switch label:after {
  content: 'Yes';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}
.setup-content .check-switch input:checked + label {
  background: #4fe88f;
}
.setup-content .check-switch input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}
.setup-content .check-switch label:active:after {
  width: 60px;
}


/* Switch With Text */
.setup-content .switch {
	position: relative;
	display: block !important;
	vertical-align: top !important;
	width: 100px !important;
	height: 30px;
	padding: 3px;
	margin: 0 10px 10px 0;
	background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
	background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
	border-radius: 18px;
	box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
	cursor: pointer;
	box-sizing:content-box;
}
.setup-content .switch-input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	box-sizing:content-box;
}
.setup-content .switch-label {
	position: relative;
	display: block;
	height: inherit;
	font-size: 10px;
	text-transform: uppercase;
	background: #ff6065;
	border-radius: inherit;
	box-sizing:content-box;
}
.setup-content .switch-label:before, .switch-label:after {
	position: absolute;
	top: 50%;
	margin-top: -.5em;
	line-height: 1;
	-webkit-transition: inherit;
	-moz-transition: inherit;
	-o-transition: inherit;
	transition: inherit;
	box-sizing:content-box;
}
.setup-content .switch-label:before {
	content: attr(data-off);
	right: 18px !important;
	color: #FFFFFF !important;
	font-family: 'Patrick Hand', cursive;
	font-weight: 700;
	text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.setup-content .switch-label:after {
	content: attr(data-on);
	right: 18px !important;
	color: #FFFFFF !important;
	font-family: 'Patrick Hand', cursive;
	font-weight: 700;
	text-shadow: 0 1px rgba(0, 0, 0, 0.2);
	opacity: 0;
}
.switch-input:checked ~ .switch-label {
	background: #ff6065 !important;
}
.setup-content .switch-input:checked ~ .switch-label:before {
	opacity: 0;
}
.setup-content .switch-input:checked ~ .switch-label:after {
	opacity: 1;
}
.setup-content .switch-handle {
	position: absolute;
	top: 4px;
	left: 4px;
	width: 28px;
	height: 28px;
	background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
	background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
	border-radius: 100%;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.setup-content .switch-handle:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -6px;
	width: 12px;
	height: 12px;
	background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
	background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
	border-radius: 6px;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}
.setup-content .switch-input:checked ~ .switch-handle {
	left: 74px;
	box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}
 
/* Transition
========================== */
.setup-content .switch-label, .switch-handle {
	transition: All 0.3s ease;
	-webkit-transition: All 0.3s ease;
	-moz-transition: All 0.3s ease;
	-o-transition: All 0.3s ease;
}

.setup-content .switch-left-right .switch-label {
	overflow: hidden;
}
.setup-content .switch-left-right .switch-label:before, 
.setup-content .switch-left-right .switch-label:after {
	width: 20px;
	height: 20px;
	top: 4px;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 11px 0 0 0;
	text-indent: -12px;
	border-radius: 20px;
}
.setup-content .switch-left-right .switch-label:before {
	background: #ff6065;
	text-align: left;
	padding-left: 80px;
}
.setup-content .switch-left-right.covid .switch-label:before {
	padding-left: 50px;
}
.setup-content .switch-left-right .switch-label:after {
	text-align: left;
	text-indent: 9px;
	background: #4fe88f;
	left: -100px;
	opacity: 1;
	width: 100%;
}
.setup-content .switch-left-right .switch-input:checked ~ .switch-label:before {
	opacity: 1;
	left: 100px;
}
.setup-content .switch-left-right .switch-input:checked ~ .switch-label:after {
	left: 0;
}
.setup-content .switch-left-right .switch-input:checked ~ .switch-label {
	background: inherit;
}


.setup-content .nextBtn {
	float: right;
	margin-top: 10px;
	padding: 8px 25px;
	box-sizing: border-box;
	border-radius: 6px;
	background-color: #ff7171;
	color: #ffffff;
	font-family: 'Patrick Hand', cursive;
	font-size: 14px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: center;
}
.setup-content .lastBtn {
	float: right;
	margin-top: 10px;
	padding: 8px 25px;
	box-sizing: border-box;
	border-radius: 6px;
	background-color: #4fe88f;
	color: #ffffff;
	font-family: 'Patrick Hand', cursive;
	font-size: 14px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	line-height: normal;
	text-align: center;
}
/** Form Wizard **/